

 <div class="hero-unit">
 	<div ui-sortable>
 	<p ng-repeat="todo in todos">
 		<input type="text" ng-model="todo">
 		<a class="btn" ng-click="removeTodo($index)">X</a>
 	</p>
 </div>

 <form ng-submit="addTodo()">
	<div class="contorl form-inline">
 		<input type="text" ng-model="newtodo" size="20">
 		<input type="submit" class="btn btn-primary" value="Add">
 	</div>
</form>
</div>


<!--  <div class="jumbotron">
	<h1>'Allo, 'Allo!!</h1>
	<p> {{ hi }} </p>
	<p class="lead">Always a pleasure scaffolding your apps.</p>
	<p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
</div>

<div class="row marketing">
	<h4>HTML5 Boilerplate</h4>
	<p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

	<h4>Angular</h4>
	<p>AngularJS is a toolset for building the framework most suited to your application development.</p>

	<h4>Karma</h4>
	<p>Spectacular Test Runner for JavaScript.</p>
</div>
</div>

<div class="footer">
	<p>♥ from the Yeoman team</p>
</div> -->